<!DOCTYPE html>
<html lang="en" ng-app="Lates">
<head>
	<meta charset="UTF-8">

	<title>Leaflate - Customizable Layouts</title>
	
	<!-- Main CSS file -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />

	
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/icon/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icon/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icon/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-57-precomposed.png">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>
<body ng-controller="CreateTemplateController as createCtrl">
	<!-- PRELOADER -->
	<div id="st-preloader">
		<div id="pre-status">
			<div class="preload-placeholder"></div>
		</div>
	</div>
	<!-- /PRELOADER -->

	

	<!-- HEADER -->
	{{> myPartials/nav}}
	<!-- /HEADER -->
	
	
	<!-- PAGE HEADER -->
	<section id="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Create Your Template</h1>
						<span class="st-border"></span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /PAGE HEADER -->


	
	<section id="our-works">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="create-template">
						<div class="template-form">
						{{#if isActive}}

						<form action="/create" method="post"  enctype="multipart/form-data">
						<label for="name" class="cols-sm-2 control-label">Enter the name for your Template</label>
						<input type="text" placeholder="Template One" name ="name" id="name" ng-model="createCtrl.name" maxlength="20" autofocus required>
						
						<br>
						
						<label for="price" class="cols-sm-2 control-label">Enter the price for your Template</label>
						<input type="number" placeholder="9.99" name="price" id="price" ng-model="createCtrl.price" step="any" required>
						
						<br>
						
						<label for="category" class="cols-sm-2 control-label">Select the category for your Template</label>
						<select name="category" ng-model="createCtrl.category" required>
						  <option value="Flyer">Flyer</option>
						  <option value="Catalog">Catalog</option>
						  <option value="Menu">Menu</option>
						  <option value="Brochure">Brochure</option>
						  <option value="Card">Card</option>
						</select>
						<br>

						<label for="width" class="cols-sm-2 control-label">Enter the width in pixels for your Template</label>
						<input type="number" placeholder="512" name="width" id="width" ng-model="createCtrl.width" step="any" max="4096" required>
						<br>
						
						<label for="height" class="cols-sm-2 control-label">Enter the height in pixels for your Template</label>
						<input type="number" placeholder="512" name="height" id="height" ng-model="createCtrl.height" step="any"max="1024" required>
						<br>
						<!--<label for="icon" class="cols-sm-2 control-label">Enter the url of the icon for your Template</label>
						<input type="text" placeholder="" name="icon" id="icon" ng-model="createCtrl.icon" required>-->
						
						<br>
						<input type="file" placeholder="Upload File" name="file" id="file" required>
						<br>
						
						
						<input type="hidden" placeholder="" name="author" id="author" value="{{username}}">
						<input type="hidden" placeholder="" name="icon" id="icon" value="https://upload.wikimedia.org/wikipedia/commons/a/a4/Magnifying_glass_with_focus_on_glass.png">
						<input type="hidden" placeholder="" name="reviewed" id="reviewed" value="false">
						<input type="hidden" placeholder="" name="approved" id="approved" value="false">
						
						<button type="submit" value="submit" class="btn btn-primary btn-lg btn-block">Create Template</button>
						
						</form>	
						<br>
						<ul>
						<li><strong>If the page returns "{}" you have not followed the instructions and have not uploaded the three correct files (html, png, txt)</strong></li>
						<ul>

						{{else}}	
							<h5>You must create a merchant account and wait for apporval before creating templates</h5>
						{{/if}}
						
						</div>
					</div>
					<hr>
				</div>
					
					
				<div class="col-md-5">
					<div>
					<div style="border-left:medium #CC0000 solid; height:100%;" />
						<!--<div class="instructions" style="border:medium #CC0000 solid">-->
					<ul>
						<h4>Instructions</h4>
						<li>Create and Design your template at:<a href="https://html-online.com/editor">  https://html-online.com/editor</a></li>
						<li>Save the correct files with the correct extensions and zip it</li>
						<li>Enter the requested fields and create your template</li>
						<li>Note, the defualt size for the preview of templates is 512 x 512<li>
						<li>On the right of the design of your template contains the html</li>
						<li>Save the html code into a file and name it with the extension <strong>".html"</strong></li>
						<li>Take a screeshot of your template by clicking the "preview" option and save the image with
						the extension <strong>".png"</strong></li>
						<li>Create a text file that will consist of your identifiers that the user will. Follow the
						following format: name of identifier used in template TAB description of identifier ENTER</li>
						<li>For example,<br>
						RestaurantName	&nbsp;&nbsp;&nbsp;&nbsp;Name of restaurant<br>
						PriceOne	&nbsp;&nbsp;&nbsp;&nbsp;Price of first item</li>
						<li>Save this file and name it with the extension <strong>".txt"</strong></li>
						<li>Compress these three files into a zip and upload it. Note, if you do not follow the instructed format, your template will be automatically rejected</li>
					</ul>

					</div>
				</div>
					
				</div><!-- end of col 3 -->
				
			</div><!-- end of row -->
		</div><!-- end of container -->
	</section><hr>



	<!-- FOOTER -->
	{{> myPartials/footer}}
	<!-- /FOOTER -->

	<!-- Scroll-up -->
	<div class="scroll-up">
		<ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
	</div>
	
	<!-- JS -->
	<script type="text/javascript" src="js/jquery.min.js"></script><!-- jQuery -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
	<script type="text/javascript" src="js/jquery.parallax.js"></script><!-- Parallax -->
	<script type="text/javascript" src="js/smoothscroll.js"></script><!-- Smooth Scroll -->
	<script type="text/javascript" src="js/masonry.pkgd.min.js"></script><!-- masonry -->
	<script type="text/javascript" src="js/jquery.fitvids.js"></script><!-- fitvids -->
	<script type="text/javascript" src="js/owl.carousel.min.js"></script><!-- Owl-Carousel -->
	<script type="text/javascript" src="js/jquery.counterup.min.js"></script><!-- CounterUp -->
	<script type="text/javascript" src="js/waypoints.min.js"></script><!-- CounterUp -->
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script><!-- isotope -->
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script><!-- magnific-popup -->
	<script type="text/javascript" src="js/scripts.js"></script><!-- Scripts -->
	
	<!-- Angular JS Content Delivery Network -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
	<!-- Controllers -->
	<script src="/controllers/app.js"></script>
	
	<script type="text/javascript" src="/js/minicart.js"></script>



</body>
</html>