<!DOCTYPE html>
<html lang="en" ng-app="Lates">
<head>
	<meta charset="UTF-8">

	<title>Leaflate - Customizable Layouts</title>
	
	<!-- Main CSS file -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />

	
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/icon/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icon/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icon/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-57-precomposed.png">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>
<body ng-controller="CreateTemplateController as createCtrl">
	<!-- PRELOADER -->
	<div id="st-preloader">
		<div id="pre-status">
			<div class="preload-placeholder"></div>
		</div>
	</div>
	<!-- /PRELOADER -->

	

	<!-- HEADER -->
	{{> myPartials/nav}}
	<!-- /HEADER -->
	
	
	<!-- PAGE HEADER -->
	<section id="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Create Merchant Account</h1>
						<span class="st-border"></span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /PAGE HEADER -->


	
	<section id="our-works">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="create-template">
						
						{{#if submerchantError}}
						<h3 font-color="red">Error: {{submerchantError}}</h3>
						{{/if}}



						<p>Sign up for Venmo Account: <a href="https://venmo.com/signup">https://venmo.com/signup</a></p>
						<br>

						

						<div class="template-form">
						
						<form action="/submerchant" method="post">

						

						<label for="name" class="cols-sm-2 control-label">Enter your first name</label>
						<input type="text" placeholder="Jane" name ="firstName" required>
						<br>

						<label for="name" class="cols-sm-2 control-label">Enter your last name</label>
						<input type="text" placeholder="Doe" name ="lastName" required>
						<br>

						<label for="name" class="cols-sm-2 control-label">Enter your email</label>
						<input type="text" placeholder="janeDoe@gmail.com" name ="email" required>
						<br>

						<label for="name" class="cols-sm-2 control-label">Enter your date of birth</label>
						<input type="date" placeholder="1981-11-19" name ="dateOfBirth" required>
						<br>
						<br>

						<label for="name" class="cols-sm-2 control-label">Enter your street address</label>	
						<input type="text" placeholder="111 Main St" name ="streetAddress" required>
						<br>

						<label for="name" class="cols-sm-2 control-label">Enter your locality (city)</label>	
						<input type="text" placeholder="Chicago" name ="locality" required minlength=3>
						<br>

						<label for="name" class="cols-sm-2 control-label">Enter your region (state)</label>	
						<input type="text" placeholder="IL" name ="region" required>
						<br>
						
						<label for="name" class="cols-sm-2 control-label">Enter your postal code</label>	
						<input type="text" placeholder="60622" name ="postalCode" required>
						<br>
						<br>

						<label for="name" class="cols-sm-2 control-label">Enter your Venmo Account email address</label>	
						<input type="text" placeholder="joedoe@gmail.com" name ="venmoEmail" required>
						<br>
						<br>

						<h5>Terms & Conditions</h5>
						<p>Lates uses Braintree, a division of PayPal, Inc. (Braintree) for payment processing services. By using the Braintree payment processing services you agree to the Braintree Payment Services Agreement available at <a href="https://www.braintreepayments.com/legal/gateway-agreement">https://www.braintreepayments.com/legal/gateway-agreement</a>, and the applicable bank agreement available at 
						<a href="https://www.braintreepayments.com/legal/cea-wells">https://www.braintreepayments.com/legal/cea-wells</a>.</p>

						<label for="name" class="cols-sm-2 control-label">I agree to these Terms & Conditions</label>	
						<input type="checkbox" name ="tosAccepted" required>
						<br>
						<br>
											
						<button type="submit" value="submit" class="btn btn-primary btn-lg ">Create Merchant Account</button>
						
						</form>		
						
						</div>
					</div>
					<hr>
				</div>

				
				<div class="col-md-4">
					<div class="instructions">
					<div style="border-left:medium #CC0000 solid; height:100%;" />
					<ul>
						<h4>INSTRUCTIONS</h4>
						<li>You must create a Venmo Account in order to recieve your money from purchased templates. <strong>Note you will not be approved for a merchant account without first having an active Venmo Account.</strong></li>
						<br>
						<li>Enter the requested fields. <strong>The information you provide will be tested for validity and will not process if valid information is not provided.</strong></li>
						<br>
						<li>Make sure to enter the State's abbreviation (Ex. New York should be NY)</li>
						<br>
						<li>If correction information is provided, you should see your merchant status in the profile section under "View My Templates".
						Once you have an active merchant account, you may begin creating tempaltes in the profile section under "Create A Template".</li>
					</ul>
					</div>
					
				</div><!-- end of col 3 -->
				
			</div><!-- end of row -->
		</div><!-- end of container -->
	</section><hr>



	<!-- FOOTER -->
	{{> myPartials/footer}}
	<!-- /FOOTER -->

	<!-- Scroll-up -->
	<div class="scroll-up">
		<ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
	</div>
	
	<!-- JS -->
	<script type="text/javascript" src="js/jquery.min.js"></script><!-- jQuery -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
	<script type="text/javascript" src="js/jquery.parallax.js"></script><!-- Parallax -->
	<script type="text/javascript" src="js/smoothscroll.js"></script><!-- Smooth Scroll -->
	<script type="text/javascript" src="js/masonry.pkgd.min.js"></script><!-- masonry -->
	<script type="text/javascript" src="js/jquery.fitvids.js"></script><!-- fitvids -->
	<script type="text/javascript" src="js/owl.carousel.min.js"></script><!-- Owl-Carousel -->
	<script type="text/javascript" src="js/jquery.counterup.min.js"></script><!-- CounterUp -->
	<script type="text/javascript" src="js/waypoints.min.js"></script><!-- CounterUp -->
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script><!-- isotope -->
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script><!-- magnific-popup -->
	<script type="text/javascript" src="js/scripts.js"></script><!-- Scripts -->
	
	<!-- Angular JS Content Delivery Network -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
	<!-- Controllers -->
	<script src="/controllers/app.js"></script>
	
	<script type="text/javascript" src="/js/minicart.js"></script>



</body>
</html>