<!DOCTYPE html>
<html lang="en" ng-app="Lates">
<head>
	<meta charset="UTF-8">

	<title>Leaflate - Customizable Layouts</title>
	
	<!-- Main CSS file -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />

	
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/icon/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icon/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icon/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-57-precomposed.png">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>
<body ng-controller="ViewController as viewCtrl">
	<!-- PRELOADER -->
	<div id="st-preloader">
		<div id="pre-status">
			<div class="preload-placeholder"></div>
		</div>
	</div>
	<!-- /PRELOADER -->

	

	<!-- HEADER -->
	{{> myPartials/nav}}
	<!-- /HEADER -->
	
	
	<!-- PAGE HEADER -->
	<section id="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>{[{viewCtrl.template.name}]}</h1>
						<span class="st-border"></span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /PAGE HEADER -->


	
	<section id="our-works">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					
					<div class="single-blog">
						<article>
							<div class="post-thumb"><img class="img-responsive" ng-src="{[{viewCtrl.template.icon}]}" alt=""></div>
							<!--<h4 class="post-title"><a href="">{[{viewCtrl.template.caption}]}Template Caption</a></h4>-->
							<div class="post-meta text-uppercase">
								<span>Date Posted: {[{viewCtrl.template.createdAt | date : format : timezone }]}</span>
								<span>Price {[{viewCtrl.template.price | currency}]}</span>
								<span>Category: {[{viewCtrl.template.category}]}</span>
								<br>
								<span>Author: {[{viewCtrl.template.author}]}</span>
								<span>Width: {[{viewCtrl.template.width}]}</span>
								<span>Height: {[{viewCtrl.template.height}]}</span>
							</div>

							<!--<div class="post-article">{[{viewCtrl.template.description}]}Template Description</div-->
							<form action="/buy_template" method="GET" ng-show="viewCtrl.template.approved" >
								<input type="hidden" name="id" value="{[{viewCtrl.template._id}]}" />
								<input  class="btn btn-primary" ng-click="templatesCtrl.view(template._id)" type="submit" value="Purchase"/>
							</form>	
						</article>
					</div>
					<hr>
				</div>
				
				<div class="col-md-3">
					<div class="sidebar-widget">
						<h4 class="sidebar-title">Similar Layouts</h4>
						<ul class="content-flickr" ng-controller="TemplatesController as templateCtrl">
							<li ng-repeat="template in templateCtrl.templates | limitTo: 5">
                                <a href="/view?id={[{template._id}]}" title="" ng-click="templateCtrl.view(template._id)">
                                    <img class="img-responsive" ng-src="{[{template.icon}]}" alt="">
                                </a>
                            </li>
                   
						</ul>
					</div>
					{{> myPartials/displayIdentifier}}
					
				</div><!-- end of col 3 -->
			</div><!-- end of row -->
		</div><!-- end of container -->
	</section>


	<!-- FOOTER -->
	{{> myPartials/footer}}
	<!-- /FOOTER -->

	<!-- Scroll-up -->
	<div class="scroll-up">
		<ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
	</div>
	
	<!-- JS -->
	<script type="text/javascript" src="js/jquery.min.js"></script><!-- jQuery -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
	<script type="text/javascript" src="js/jquery.parallax.js"></script><!-- Parallax -->
	<script type="text/javascript" src="js/smoothscroll.js"></script><!-- Smooth Scroll -->
	<script type="text/javascript" src="js/masonry.pkgd.min.js"></script><!-- masonry -->
	<script type="text/javascript" src="js/jquery.fitvids.js"></script><!-- fitvids -->
	<script type="text/javascript" src="js/owl.carousel.min.js"></script><!-- Owl-Carousel -->
	<script type="text/javascript" src="js/jquery.counterup.min.js"></script><!-- CounterUp -->
	<script type="text/javascript" src="js/waypoints.min.js"></script><!-- CounterUp -->
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script><!-- isotope -->
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script><!-- magnific-popup -->
	<script type="text/javascript" src="js/scripts.js"></script><!-- Scripts -->
	
	<!-- Angular JS Content Delivery Network -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
	<!-- Controllers -->
	<script src="controllers/app.js"></script>

</body>
</html>