<div class="sidebar-widget">
						<h4 class="sidebar-title">Identifiers</h4>
							<div class="tagcloud" ng-repeat="identifier in viewCtrl.template.fieldName">
								<a href="">{[{identifier}]}</a>

							</div>
					</div>	